 .reading-width {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

 .reading-width-footer-tag {
  max-width: 800px;
  margin: -20px auto;
  padding: 0 20px 20px;
}

 .reading-width-footer-tag > .content {
  max-width: var(--grid-container-width);
  margin: 0 auto;
}

/* .section.milo-card-section{
  background-color: #f8f8f8;
  display: grid;
  justify-content: center;
  width: 100%;
  .content, .milo-card-wrapper{
    width: 940px;
  }
  .consonant-CardsGrid{
    gap: 26px;
    display: flex;
    .card.half-card{
      width: 288px;
      height: 155px;
    }
  }
} */

.section .text.category-banner-left .foreground{
  div[data-valign]{
    flex-direction: row-reverse !important;
    justify-content: flex-end;
  }
  .body-m{
    margin-top: 0px;
    margin-right: 10px;
  }
}
.section .text.category-banner-right .foreground{
  div[data-valign]{
    flex-direction: row !important;
    justify-content: space-around;
  }
}